<div id="kontakt-anchor"></div>
<br />
<div class="contact">
  <form class="contact-form" (ngSubmit)="onSubmit()">
    <h3>Tritt mit uns in Kontakt</h3>

    <div class="form-ele">
      <input type="text" id="name" placeholder="Name..." [(ngModel)]="name" name="name" required />
    </div>

    <div class="form-ele">
      <input type="email" id="email" placeholder="Email Adresse..." [(ngModel)]="email" name="email" required />
    </div>

    <div class="form-ele">
      <label for="participation">Ich würde gerne teilnehmen als...</label>
      <select id="country" name="country" [(ngModel)]="participation" required>
        <option value="member">Mitglied</option>
        <option value="donor">Spender</option>
        <option value="simp">Sympathisant</option>
      </select>
    </div>

    <input type="submit" value="Senden" />
  </form>
</div>
