<div id="kontakt-anchor"></div>
<br>
<div class="contact">
  <form class="contact-form">
    <h3>Tritt mit uns in Kontakt</h3>
    <div class="form-ele">
      <input type="text" id="name" placeholder="Name..." />
    </div>
    <div class="form-ele">
      <input type="email" id="email" placeholder="Email Adresse..." />
    </div>
    <div class="form-ele">
      <label for="participation">Ich würde gerne teilnehmen als...</label>
      <select id="country" name="country">
        <option value="member">Mitglied</option>
        <option value="donor">Spender</option>
        <option value="simp">Sympathisant</option>
      </select>
    </div>

    <input type="submit" value="Senden" />
  </form>
</div>
