//This will be on a separate page. Only accessible through the footer
<main>
  <h1>Impressum</h1>
  <h2>Kontaktadresse</h2>
  <p>
    Büezer und KMU Partei (BKP)<br />
    Züricherstrasse 23<br />
    8607 Aathal
  </p>
  <h2>Haftungsausschluss</h2>
  <p>
    Die Redaktion übernimmt keinerlei Garantie in Bezug auf inhaltliche
    Richtigkeit, Aktualität, Zuverlässigkeit, Genauigkeit und Vollständigkeit
    der Informationen. Haftungsansprüche gegen die Redaktion wegen Schäden
    materieller oder immaterieller Art, welche durch den Zugriff oder Nutzung
    bzw. Nichtnutzung von veröffentlichten Informationen, durch Missbrauch der
    Verbindung oder durch technische Störungen entstanden sind, werden
    ausgeschlossen. Alle Angebote auf dieser Webseite sind unverbindlich. Die
    Redaktion behält sich das Recht vor, Teile der Webseite oder das gesamte
    Angebot ohne Ankündigung zu verändern, ergänzen, löschen oder die
    Veröffentlichung temporär oder permanent einzustellen.
  </p>

  <h2>Haftung für URL</h2>
  <p>
    Alle Verweise und URL auf Webseiten von Dritter liegen ausserhalb des
    Verantwortungsbereichs des Betreibers. Jegliche Verantwortung für solche
    Webseiten werden abgelehnt. Der Zugriff und Verwendung solcher Webseiten
    erfolgen auf eigene Gefahr des Benutzers.
  </p>

  <h2>Urheberrecht</h2>
  <p>
    Das Urheberrecht sowie alle anderen Rechte an Inhalten, Bildern, Fotos,
    Videos oder anderen Dateien auf der Webseite gehören ausschliesslich der
    Büezer und KMU Partei oder speziell genannten Rechtsinhabern. Für die
    Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der
    Urheberrechtsträger im Voraus zu beantragen.
  </p>

  <h2>Datenschutz</h2>
  <p>
    Auf den Artikel 13 der schweizerischen Bundesverfassung und die
    datenschutzrechtlichen Bestimmungen des Bundesgesetz über den Datenschutz
    (DSG) gestützt, hat jede Person Anspruch auf den Schutz ihrer Privatsphäre,
    sowie Schutz vor Missbrauch ihrer persönlichen Daten. Diese Bestimmungen
    halten wir ein. Persönliche Daten werden streng vertraulich behandelt und
    werden weder an Dritte verkauft noch in irgend einer Form weitergegeben.
  </p>

  <h2>Datenschutzerklärung der Nutzung von Google Analytics</h2>
  <p>
    Die Webseite benutzt Google Analytics, einen Webanalysedienst der Google
    Inc., (nachstehend "Google" genannt). Google Analytics verwendet sogenannte
    Cookies, also Textdateien, die auf Ihrem Gerät gespeichert werden und eine
    Analyse der Verwendung der Webseite durch Sie ermöglichen. Die durch Cookies
    erzeugten Informationen über Ihre Verwendung der Webseite werden in der
    Regel an einen Server von Google in der USA übertragen. Google wird diese
    Informationen verwenden, um Ihre Verwendung der Webseite auszuwerten,
    Berichte über die Webseitenaktivität für die Webseitenbetreiber
    zusammenstellen und um weitere mit der Webseitenverwendung und der
    Internetnutzung verbundene Dienstleistungen zu erbringen. Zudem wird Google
    diese Informationen gegebenenfalls an Dritte übertragen, sofern dies
    gesetzlich vorgeschrieben ist oder soweit Dritte diese Daten im Auftrag von
    Google behandeln. Im Rahmen von Google Analytics wird Ihre IP-Adresse,
    welche durch den Browser übermittelt wird, nicht mit den anderen Daten von
    Google vereint. Sie haben die Möglichkeit die Installation von Cookies durch
    Adons oder Einstellungen im Browser zu verhindern. Hiermit weisen wir Sie
    jedoch hin, dass dies zu Komplikationen mit der Ausführung der Seite auf
    Ihrem Gerät führen kann und somit gewisse Funktionen nicht funktionieren,
    womit Sie die Seite nicht vollumfänglich verwenden können. Durch die
    Verwendung dieser Webseite erklären Sie sich mit der Verarbeitung über die
    Daten, welche über Sie durch Google erhoben wurden, zu der obigen
    beschriebenen Art und Weise zum obigen erklärten Zweck einverstanden.
  </p>
  <br />
  <p>Zürich, 11.05.2024</p>
</main>
