.values {
  // background: rgba(96, 108, 131, 0.565);
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  overflow: hidden;
  padding: 2rem;

  @media (max-width: 830px) {
    flex-direction: column;
    align-items: center;
  }

  div {
    padding: 20px;
    border-radius: 5%;
    box-shadow: 3px 5px 10px -2px rgba(0, 0, 0, 0.48);
    height: 350px;

    @media (max-width: 830px) {
    }
  }

  .arbeit {
    width: 300px;
    background-color: lightcoral;
  }

  .technologie {
    width: 250px;
    background-color: lightblue;

    @media (max-width: 830px) {
      height: 200px;
    }
  }

  .umwelt {
    width: 300px;
    background-color: lightgreen;
  }
}
