<div class="controls">
  <input [(ngModel)]="name" placeholder="Name" />
  <input [(ngModel)]="email" placeholder="Email" />

  <button (click)="createEmail()">Create</button>

  <button (click)="selectedId && deleteEmail(selectedId)">Remove</button>

  <input [(ngModel)]="listName" placeholder="Listname" />

  <button (click)="selectedId && addToList(selectedId)">Add to:</button>
  <button (click)="selectedId && removeFromList(selectedId)">Remove from:</button>
</div>

<hr>

<h3>Emails</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>List Name</th>
  </tr>
  <tr  *ngFor="let e of emails"   (click)="selectedId = e._id"
  [class.active-row]="selectedId === e._id">
    <td>{{ e.name }}</td>
    <td>{{ e.email }}</td>
    <td>{{ e.lists.join(', ') }}</td>
  </tr>
</table>
