<h3>Mockups</h3>
<ul>
  <li>
    <a href="https://www.figma.com/design/Nz3kaKbBTMxHZ2WB0KMxJV/Newwebsite"
      >FIGMA Mockups here!</a
    >
  </li>
</ul>
<h3>Component order</h3>

<h4>Home</h4>
<ul>
  <li>
    <b>Navbar</b>
  </li>
  <li>
    <b>Video-Imageslider</b>
  </li>
  <li>
    <b>Donationbanner (floating)</b>
  </li>
  <li>
    <b>Infobanner</b>
  </li>
  <li>
    <b>Three Party Values</b>
  </li>
  <li>
    <b>YouTube-Shorts Player</b>
  </li>
  <li>
    <b>Articles</b>
  </li>
</ul>

<h4>Shop</h4>
<ul>
  <li>
    <b>Books</b>
  </li>
  <li>
    <b>Merchandise</b>
  </li>
</ul>

<h4>Events</h4>
<ul>
  <li>
    <b>Events from Database</b>
  </li>
</ul>

<h4>Admin panel / Admin Dashboard</h4>
<ul>
  <li>
    <b></b>
  </li>
</ul>

<h4>Pressestatement</h4>
<ul>
  <li>
    <b></b>
  </li>
</ul>

<h4>Aktionen</h4>
<ul>
  <li>
    <b></b>
  </li>
</ul>

<h4>Impressum</h4>
<ul>
  <li>
    <b></b>
  </li>
</ul>

<br />

<h2>To Do List</h2>
<ul>
  <h3>ENTIRE PAGE</h3>
  <ul>
    <li>
      <p>
        Obviously the content of the website will be in German. You may use
        deepl.com, if you're adding a navbar url or something. Or you can do it
        in English and we will translate it later.
      </p>
    </li>
    <li>
      <p>The font we use everywhere is Montserrat</p>
    </li>
    <li>
      <p>
        <b>Every page should have some animations and look engaging.</b> Maybe
        with fade-in or fly in. If you scroll around on this page, you can see a
        lot of animations. It looks professional and engaging:
        <a href="https://jungealternative.net/">[CLICK ME]</a>
        <br />
        Animation templates:
        <a
          href="https://dev.to/tiaeastwood/super-simple-css-animation-for-fade-in-on-page-load-2p8m"
          >[CLICK ME!]</a
        >
      </p>
    </li>
    <li>
      <p>
        Create a global style sheet in SCSS with variables for colours, spaces,
        font-sizes, shadows, and so on. It should look modern, professional and
        be engaging.
      </p>
    </li>
    <li>
      <p>The website should be responsive both on PC and mobile.</p>
    </li>
  </ul>

  <!-------------
TODO

STEPHANIE:

Wennd mir so en Colour-gradient ezt so benutze, ähnlich wie BSW? Wenn ja müsstemer das irgendwie definiere,
dass er weiss wie mir das meined und au entsprechend designe. Oder machemer eifach wie apple in Weiss
und s Simplified BKP logo?
----------->

  <h3>Navbar</h3>
  <ul>
    <li>
      <p>Navbar needs to be responsive, for both PC and mobile.</p>
    </li>
    <li>
      <p>
        On mobile it can be hidden with a burger dropdown. The burger icon and
        the logo should remain at the top of the page when scrolling. Instead of
        the burger, the star should become the burger and rotate, when you open
        and close it on mobile. The navbar links should be hidden unless the
        user opens the menu.
      </p>
    </li>
    <li>
      <p>
        Small toggle button on the right side with dark mode option. (changes
        colours for entire website)
      </p>
    </li>
  </ul>

  <h3>Video-Imageslider</h3>
  <ul>
    <li>
      <p>
        The Video-Imageslider plays the first minute of a video, and then it
        slides to the next item. With photos, it should just be displayed for 10
        seconds until it changes to the next photo.
      </p>
    </li>
    <li>
      <p>
        There shouldn't be white spaces on the right and left of the
        video-imageslider component. It should use the space on the side.
        <br />
      </p>
    </li>

    <li>
      <p>
        There should be a caption on top of each image. The caption text should
        have a shadow and the image should be slightly darkened to make it more
        readable. See:
        <a href="https://bkps.ch">[CLICK ME!]</a>
      </p>
    </li>
  </ul>

  <h3>Infobanner</h3>
  <ul>
    <li>
      <p>
        The Infobanner should be visible, and the text and visibility should be
        controlled in the admin panel. The colours don't need to be exactly the
        same.
      </p>
    </li>
  </ul>

  <h3>Video Player</h3>
  <ul>
    <li>
      <p>
        One should be able to use the YouTube video id to embed the video in the
        slider. The video id is in the link for the video. For this video link
        "https://youtu.be/WbRlW58J9SE?si=3nIyxxSGBA_DFQ2v" the id would be:
        "WbRlW58J9SE".
        <br />
        <br />
        This is how youtube videos can be embedded:
        <br />
        iframe width="560" height="315"
        src="https://www.youtube.com/embed/WbRlW58J9SE?si=3nIyxxSGBA_DFQ2v"
        title="YouTube video player" frameborder="0" allow="accelerometer;
        autoplay; clipboard-write; encrypted-media; gyroscope;
        picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen /iframe
        <br />
        The video id should be automatically selected from the video link and
        inserted into the video player.
      </p>
      <p>
        If possible, use
        <a href="https://github.com/LuanRT/YouTube.js">YouTube.js</a> to
        automatically detect the most recent video from
        <a href="https://www.youtube.com/channel/UCiIssAwHJ33D9xT07Fmsg3w"
          >our channel</a
        >. Ensure that results are cached on the server for some time, to avoid
        our server being blocked by YouTube.
      </p>
    </li>
    <li>
      <p>
        The video player needs to be styled according to our specifications. You
        can use this icon for the arrows:
        <a href="https://fontawesome.com/icons/chevron-left?f=classic&s=solid"
          ><br />[CLICK ME!]</a
        >
      </p>
    </li>
    <li>
      <p>
        The video should be displayed accordingly depending on the format -
        YouTube Short or Video. It should be possible to mark a video as a short
        or a normal video in the admin panel.
      </p>
      <p>
        If you can use the YouTube.js library, you can use that to detect
        whether a video is a short or not. In that case, there is no need to
        implement video handling in the admin panel.
      </p>
    </li>
    <li>
      <p>
        The video player should be in the form of a media carousel, where the
        previous video and next video are slightly tilted and visible on either
        side. This is to make it clear that one can flip through the videos.
        <a
          href="https://elementor.com/help/wp-content/uploads/2024/01/coverflow-width.png"
          >Click me</a
        >
      </p>
    </li>
  </ul>

  <!-------------
TODO

STEPHANIE:

Überlegge wie mir bide Values Konsequente Neutralität und bürgernahe Schweiz bide Farbe inne tue dönd.
Machemer es zuesätzlichs feld unde drah wie en balke, oder wie chönntemer das ie packe?
Will alli drü farbe passed nöd so zu Ussepolitik und Bürgernähe....
----------->
  <h3>Three Party Values</h3>
  <ul>
    <li>
      <p>
        Should have enough space for the text and be formatted nicely. It
        already flies in on mobile and pc correctly.
      </p>
    </li>
  </ul>

  <h3>Articles</h3>
  <ul>
    <li>
      <p>
        When writing text, I do not want to write HTML code for new lines. It
        should either recognise the new lines, or have buttons to add new lines.
      </p>
      <p>
        We want to be able to write articles and have them displayed here. you
        can click each article and it opens up a new page with the entire
        article. Similar to this:
        <a href="https://derbuezer.ch/#/">[CLICK ME!]</a>
        If you need some code from this site, I can give you some things, as I'm
        the one who programmed derbuezer.ch
      </p>
    </li>
    <li>
      <p>
        The preview of the article contains one main article picture, which is
        decided upon upload. The first Paragraph of the article is already
        displayed, together with the title in the preview.
      </p>
      <p>
        An article can contain: Pictures, URLS, Text and has always a publish
        date and option to add the author name. By default the name of author is
        "Redaktion der BKP"
      </p>
      <p></p>
    </li>
    <li>
      <p>
        It would also be good if, as with the JSVP, a hover animation would
        appear when you hover over the article to let you know that it would
        open. For example, they have used a link chain for this on their
        articles with pictures: <a href="https://jsvp.ch/"></a>
      </p>
    </li>
  </ul>

  <h3>About us</h3>
  <ul>
    <li>
      <p>
        Create a new Component "about", which is displayed in the navbar as
        "Über uns".
      </p>
    </li>
    <li>
      <p>
        In the about component you find firstly the board of directors, similar
        to here:
        <a href="https://bkps.ch/HTML/startseite#ueberuns_vorsitzender"
          >[CLICK ME!]</a
        >
      </p>
    </li>
    <li>
      <p>
        Similar to the old website we want to show who is supporting us. Styling
        is completely up to you! Here is the example:
        <a href="https://bkps.ch/HTML/startseite#ueberuns_unterstuetzer"
          >[CLICK ME!]</a
        >
      </p>
    </li>
  </ul>

  <h3>Adminpanel</h3>
  <ul>
    <li>
      <p>
        We absolutely need a login option, like on the old website. Here we can
        upload posts and shorts via YouTube embed link and switch the infobanner
        on and off. Login must be secure because a hacker attack would be fatal.
        <a
          href="https://media.geeksforgeeks.org/wp-content/uploads/20221210193200/ADMIN-PANEL-768.png"
        >
          rough example of an admin panel / dashboard
        </a>
      </p>
    </li>
    <li>
      <p>
        Add new Videos to the slider. This will not be necessary if you use the
        YouTube.js library.
      </p>
    </li>
    <li>
      <p>
        The login needs to be on a separate page, the link to which should not
        be shown on other places on the website. We always just open the URL
        directly, from memory or with a bookmark.
      </p>
    </li>
    <li>
      <p>
        An account has a username and password. Due to the low number of
        accounts we will be using in the forseeable future, deletion will be
        manually handled with database access.
      </p>
    </li>
    <li>
      <p>
        For account creation, it will be sufficient to have a private script
        which creates an account in the database, using advanced hashing and
        salting techniques for the password (preferably Argon2id).
      </p>
      <p>
        This script should not be available to the public and only be accessible
        by running it on the server.
      </p>
      <p>
        If you have a better idea to securely implement this, you are free to do
        so.
      </p>
    </li>
    <li>
      <p>
        A username is always created as CH-000000, CH-000001, CH-000002,
        CH-000003, etc.
      </p>
    </li>

    <li>
      <p>Add new Events</p>
    </li>
    <li>
      <p>Add new Press statement</p>
    </li>
    <li>
      <p>Add new items to shop</p>
    </li>

    <li>
      <p>Add and delete articles.</p>
    </li>
    <li>
      <p>
        Activate and deactivate Infobanner and change the message of it, as well
        as the link it links to. (This is used for instance, when we are running
        for election, or collecting signatures for a petition, which may be
        linked to another website).
      </p>
    </li>
  </ul>

  <h3>Aktionen (Actions/Events)</h3>
  <ul>
    <li>
      <p>
        In this component we display photos and videos we took from some events.
      </p>
    </li>
  </ul>

  <h3>Footer</h3>
  <ul>
    <li>
      <p>
        Link our social media with Instagram, Twitter, YouTube, TikTok icons,
        similar to:
        <a href="https://bkps.ch/HTML/startseite.php#socialmedia">link</a>
      </p>
    </li>
  </ul>
  <h3>Donationbanner</h3>
  <ul>
    <li>
      <p>
        The donation banner, which is floating, with the button "Jetzt Spenden",
        as well as the "Spenden" button in the navbar and on the banner should
        alll lead to:
        <a href="https://bkps.ch/HTML/spenderschaft/formular.php"
          >[CLICK ME!]</a
        >
      </p>
    </li>
    <li>
      <p>
        Additionally, the donation banner contains the button "Aktiv Werden",
        which should link to the join form.
      </p>
    </li>
  </ul>

  <h3>Shop</h3>
  <ul>
    <li>
      <p>Shop items like merchandise have prices, a picture, description.</p>
    </li>
    <li>
      <p>
        Additionally amazon books can be directly linked with a url to amazon,
        and so you can't really order them. something like this:
        <a href="https://juso-shop.ch/produktkategorie/merchandise/kleidung/"
          >[CLICK ME!]</a
        >
      </p>
    </li>
    <li>
      <p>
        (Not a task, but personal notes):<br />
        Maybe at some point we can also have T-shirts, hoodies, stickers,
        drinking bottles, button pins, caps, Umbrellas, Bags. A sticker costs 10
        francs in bulk! But you are certainly happy to pay if you want to
        support the party. However these things should not be worn at BKP
        events. More for for our sympathisers.
      </p>

      <p>
        It is possible to select one or more items, in the admin panel, to
        display the product on the title page, to advertise for the shop.
      </p>
    </li>
  </ul>

  <h3>Events</h3>
  <ul>
    <li>
      <p>
        On the Events page we have coming up events and ones which already have
        been. Perhaps displayed as a calendar? Or maybe you can just have for
        each event a div and a picture and description.
      </p>
    </li>
    <li>
      <p>
        Events can be added and removed from the admin panel, there may also be
        repeating events.
      </p>
    </li>
  </ul>

  <h3>Press statements</h3>
  <ul>
    <li>
      <p>
        A page, where we can create a press info statements. These statements
        should be stored in the database and shown on the homepage.
      </p>
    </li>
    <li>
      <p>
        Additionally, a PDF file should be created for each press statement,
        which can be downloaded. A press statement has a title, image, text and
        in corners the logo and contact details and the creation date.
      </p>
      <p>
        After the PDF was generated, the page should offer us to send it to
        various email addresses, which are stored in the database. It is
        important that we are able to add and remove email addresses from the
        admin panel, as well as being able toggle certain email addresses off
        for a certain press statement.
      </p>
    </li>
  </ul>

  <h3>Mitmachen</h3>
  <ul>
    <li>
      <p>
        The button, which is displayed on the donation banner popup and in the
        navbar, will lead to:
        <a href="https://bkps.ch/HTML/mitgliedschaft/formular.php">LINK</a>
      </p>
    </li>
  </ul>

  <h3>All Articles / Article search</h3>
  <ul>
    <li>
      <p>
        Similar to our old website we want a simple search bar, a separate
        component, where you can enter text and it looks for articles, press
        statements and videos we have published and displays them.

        <a href="https://bkps.ch/HTML/alle_beitraege.php">[CLICK ME!]</a>
      </p>
    </li>
  </ul>

  <h3>Translation</h3>
  <ul>
    <li>
      <p>
        Is it possible to have an auto translation api, which doesn't cost? That
        way we could automatically translate the website in any language the
        user would like. I know that you can use google translate, but can we
        limit the languages to: German, Italian, French and English?
        <a
          href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_google_translate"
          >[CLICK ME!]</a
        >
      </p>
      <p>
        By default, the website should be in German. You could also implement
        that the website tries to match a user's preferred language.
      </p>
    </li>
    <li>
      <p>It should also work for articles and other pages</p>
    </li>
  </ul>

  <h3>FAQ</h3>
  <ul>
    <li>
      <p>
        Questions with a arrow down, that opens and closes the answer. Similar
        to
        <a href="https://bsw-vg.de/faq/">[CLICK ME!]</a>
      </p>
    </li>
  </ul>

  <h3>Any other components</h3>
  <ul>
    <li>
      <p>
        If you see the need for more components, which I haven't listed because
        I forgot, please add them or talk to me about them.
        <br />
        So for instance "FAQ" would also require a component, where frequently
        asked questions are answered. "was ist eine Bürgernahe Schweiz?" and
        "Was ist eine Konsequente Neutralität?", would be two questions that
        would be answered on such a component on a separate page.
      </p>
    </li>
  </ul>
</ul>

<br /><br /><br />
<h2>NOTES (please don't delete)</h2>
<ul>
  <h3>Videotrailer for Video-Imageslider</h3>
  <ul>
    <li>
      <p>SLOGANS WILL BE IN THE VIDEO ITSELF.</p>
    </li>
    <li>
      <p>
        [REMOVE AUDIO FROM VIDEOFLAG PERMANENTLY IN DAVINCI RESOLVE. WHEN YOU
        OPEN IN NEW TAB, YOU CAN STILL HEAR THES AUDIO, WHICH WOULD BE
        EMBARRASSING!]
      </p>
    </li>
    <li>
      <p>VIDEOFLAG will be the beginning of the trailer?</p>
    </li>

    <li>
      <p>
        Here will be a video Trailer of the things the BKP does (Video of
        presentations, editing something on video, filming video, sticking
        things on walls, handing out flyers, and in letter boxes) Videos of us
        marching with flags, holding flags, with stephanie and tatiana etc.
      </p>
    </li>

    <li>
      <p>
        Z.B. How one attaches a BKP-Pin on the Shirt or placing one of my books
        into a Shelf, gif in background, with text over it, similar like the
        feuerschale webseite I coded.
      </p>
    </li>

    <li>
      <p>
        Someone is reading a book Konsequente neutralität or a Frauenfragebuch
        outside, face not in camera, but you can see in timelaps changing the
        page
      </p>
    </li>
  </ul>

  <h3>Old party positions are not so old and up to date!</h3>
  <ul>
    <li>
      <p>
        We should save these in a PDF or similar. If someone has a specific
        question about a topic, then we refer to this document. But it should
        not be public. You should not think that you have to agree 100% to the
        party programme / old positions to be a member. Instead, you should
        agree with our Quick Positions (Our Values).
        <a href="https://bkps.ch/HTML/positionen_bkp.php">[CLICK ME!]</a>
      </p>
    </li>
  </ul>

  <h3>Generator for Instagram, Tiktok, Reel thumbnails</h3>
  <ul>
    <li>
      <p>Just an idea for the future</p>
    </li>
  </ul>

  <h3>FAQ</h3>
  <ul>
    <li>
      <p>
        https://workerspartybritain.org/frequently-asked-questions/#faq1 I am on
        a low income, how much does membership cost? Membership is set low at £5
        a month – less than 15 pence a day – to minimise barriers to entry. For
        those who are still unable to afford this, affiliate membership is free.
        Affiliate membership means we’ll keep in touch with you about party news
        and meetings and speak to you about getting involved in local
        activities. However, affiliate members won’t be able to attend private
        meetings or have the right to vote or stand for election to the Members
        Council. I am unemployed/retired, can I join the Workers Party? The
        Workers Party is here to represent the working class. Unemployed
        workers, retired workers, disabled workers are all very welcome to join.
        If you need to earn wages to survive, and cannot live off the
        exploitation of others’ labour-power, you are a member of the working
        class. If you are unable to work because of a disability, you are a
        member of the working class. If you live and work in Britain, no matter
        where you are from, you are a member of the British working class.
      </p>
      <p></p>
    </li>
  </ul>
</ul>
