//Make it, that these values are translatable as well.

<div id="werte-anchor"></div>
<div class="values-container">
  <div class="top-row">
    <div class="extra-box">
     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alles, Minus
ihnen. Maiores maxime dolorem vero delenit.Lorem ipsum dolor sit, amet
consectetur adipisicing elit. Alles, Minus
ihnen. Maiores maxime dolorem vero delenit.
    </div>
    <div class="extra-box">
    Aber manchmal tue ich es so, dass ich in Wehen gerate und große Schmerzen habe. Lorem
Schmerz selbst ist Liebe, consectetur adipisicing elite. Alles, außer ihnen.
Der größte Schmerz ist wahrlich leniti.
    </div>
  </div>

  <div class="values">
    <div class="arbeit">
      <h2>Arbeit</h2>
      <p>Büezer</p>
      <p>Löhne</p>
      <p>Umverteilung</p>
      <p>Gerechtere Wirtschaft</p>
      <p>Heimatverbunden</p>
      <p>Gege Lifestyle-Theme</p>
      <p>Sinnvolle, nachhaltige Landesverteidigung</p>
      <p>Gege EU-Abindig</p>
    </div>
    <div class="technologie">
      <h2>Technologie</h2>
      <p>Moderne schweiz,</p>
      <p>Industrialisierung,</p>
      <p>künstliche Intelligenz</p>
    </div>
    <div class="umwelt">
      <h2>Umwelt</h2>
      <p>Sinnvolle Umweltpolitik,</p>
      <p>nicht auf Kosten der armen</p>
    </div>
  </div>
</div>
