.infoBanner {
  background-color: #e8ebd1;
  color: #333;
  padding: .5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 6px;
  margin: 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
