.divider-bg {
  // background-color: rgba(96, 108, 131, 0.565);
}
.divider {
  width: 70%;
  height: 2rem;
  background-color: #226536;
  margin: 1rem auto;
}
.foooter {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  // background-color: #226536;
  // color: white;
  // text-align: center;
  // padding: 1rem;
}
