.videotitle {
  background-color: #ed413d;
  font-size: 20px;
  text-align: center;
  color: white;
  width: 270px;
  height: 68px;
}

.short-container {
  font-weight: bold;
}

.short-video {
  height: 480px;
  width: 270px;
}