.calendar-container {
  width: 100%;
  margin: auto;
  padding: 1rem;
}
.event-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  background: #e8f0fe;

  .repeat-icon {
    font-size: 18px;
    color: #1976d2;
  }

  .one-time-icon {
    font-size: 18px;
    color: #ff9800; // Orange color for one-time events
  }
}


.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h3 { margin: 0; font-size: 1.25rem; font-weight: bold; }

  button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #2a5b9e;
    &:hover { color: #1a3b70; }
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;

  .calendar-day { text-align: center; font-weight: 600; color: #555; font-size: 0.9rem; padding: 0.25rem 0; }

  .calendar-cell {
    border: 1px solid #ddd;
    min-height: 60px;
    padding: 4px;
    position: relative;
    text-align: right;
    background: #fdfdfd;
    border-radius: 4px;

    &.other-month { background-color: #f1f1f1; color: #aaa; }

    .date-label { font-size: 12px; font-weight: 600; }

    .event-dot {
      position: absolute;
      bottom: 4px;
      left: 4px;
      width: 100%;
      text-align: center;
      font-size: 0.9rem;
      background-color: #fff;
      color: #0a0909;
      cursor: pointer;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      .repeat-icon { font-size: 18px; color: #1976d2; }

      span { font-weight: 500; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
    }
  }
}

/* Tooltip styling */
::ng-deep .mat-tooltip.custom-tooltip {
  background-color: #fff !important;
  color: black !important;
  font-size: 13px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 6px;
  max-width: 300px !important;
  white-space: pre-line !important;
  word-break: break-word;
}

/* Mobile view */
@media (max-width: 768px) {
  .calendar-grid { display: block; }
  .calendar-day { display: none; }
  .calendar-cell { display: flex; flex-direction: column; align-items: center; min-height: 70px; padding: 0.75rem; }
  .event-dot { position: static; white-space: normal; }
}
