.carousel {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel-slide {
  display: flex;
  gap: 12px;
  align-items: center;
}

.carousel-item {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.carousel-item.center {
  transform: scale(1.1);
  cursor: default;
}
